<table class="snippet">
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">Trigger</td>
        <td class="property_val"><%= @snippet.trigger %></td>
    </tr>
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">Links</td>
        <td class="property_val"><pre><%= @snippet.links %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">Pre</td>
        <td class="property_val"><pre><%= @snippet.pre %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">Category</td>
        <td class="property_val"><pre><%= @snippet.category %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">Desc</td>
        <td class="property_val"><pre><%= @snippet.desc %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "ruby.jpg", height: "32" %></td>
        <td class="property_name">Ruby2</td>
        <td class="property_val"><pre><%= @snippet.ruby2 %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "bash.png", height: "32" %></td>
        <td class="property_name">Bash4</td>
        <td class="property_val"><pre><%= @snippet.bash4 %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "vim.png", height: "32" %></td>
        <td class="property_name">Vim</td>
        <td class="property_val"><pre><%= @snippet.vim %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "java.png", height: "32" %></td>
        <td class="property_name">Java</td>
        <td class="property_val"><pre><%= @snippet.java %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "vb.jpg", height: "32" %></td>
        <td class="property_name">Vbs</td>
        <td class="property_val"><pre><%= @snippet.vbs %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "python.png", height: "32" %></td>
        <td class="property_name">Python3</td>
        <td class="property_val"><pre><%= @snippet.python3 %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "js.jpg", height: "32" %></td>
        <td class="property_name">Js</td>
        <td class="property_val"><pre><%= @snippet.js %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"></td>
        <td class="property_name">WinShell</td>
        <td class="property_val"><pre><%= @snippet.winshell %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "powershell.png", height: "32" %></td>
        <td class="property_name">Powershell</td>
        <td class="property_val"><pre><%= @snippet.powershell %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "groovy.png", height: "32" %></td>
        <td class="property_name">Groovy</td>
        <td class="property_val"><pre><%= @snippet.groovy %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "c.svg", height: "32" %></td>
        <td class="property_name">C</ %></td>
    <td class="property_val"><pre><%= @snippet.c %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "cpp.png", height: "32" %></td>
        <td class="property_name">Cpp</td>
        <td class="property_val"><pre><%= @snippet.cpp %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "scala.png", height: "32" %></td>
        <td class="property_name">Scala</td>
        <td class="property_val"><pre><%= @snippet.scala %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "erlang.png", height: "32" %></td>
        <td class="property_name">Erlang</td>
        <td class="property_val"><pre><%= @snippet.erlang %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "clojure.jpg", height: "32" %></td>
        <td class="property_name">Clojure</td>
        <td class="property_val"><pre><%= @snippet.clojure %></pre></td>
    </tr>
    <tr>
        <td style="text-align: right;"><%= image_tag "rails.png", height: "32" %></td>
        <td class="property_name">Rails 4</td>
        <td class="property_val"><pre><%= @snippet.rails4 %></pre></td>
    </tr>
</table>
