<h1>Programming Language Agnostic Development</h1>

<ul>
    <li><%= link_to "View all snippets", snippets_path %></li>
    <li><%= link_to "+ Create new snippets", new_snippet_path %></li>
</ul>

<h2>Favorites</h2>
<ul>
    <li><%= link_to "BASH 4", snippets_path + "?langs=bash4" %></li>
    <li><%= link_to "Java", snippets_path + "?langs=java" %></li>
    <li><%= link_to "Js", snippets_path + "?langs=js" %></li>
    <li><%= link_to "Python 3", snippets_path + "?langs=python3" %></li>
    <li><%= link_to "Ruby 2", snippets_path + "?langs=ruby2" %></li>
    <li><%= link_to "Scala", snippets_path + "?langs=scala" %></li>
    <li><%= link_to "VBScript", snippets_path + "?langs=vbs" %></li>
    <li><%= link_to "Vim", snippets_path + "?langs=vim" %></li>
    <li><%= link_to "jQuery", snippets_path + "?langs=jquery" %></li>
    <li><%= link_to "Java, Scala, Vim, Phython3, BASH4, Js", snippets_path + "?langs=java,scala,vim,python3,bash4,js" %></li>
    <li><%= link_to "Ruby2, Rails4", snippets_path + "?langs=ruby2,rails4" %></li>
    <li><%= link_to "Js, jQuery", snippets_path + "?langs=js,jquery" %></li>
</ul>
